{% extends 'base.html' %}
{% load static %}
{% block content %}
 <br>
{% if request.user.is_authenticated %}
<div>
  <form method="POST" action="/search/">
    {% csrf_token %}
    <input type="search" name="query" placeholder="Search...">  
    <button style="border: 0in; background-color: white;">
      <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/rlizirgt.json"
          trigger="hover"
          colors="primary:#121331"
          scale="60"
          axis-x="50"
          axis-y="60"
          style="width:20px;height:20px">
      </lord-icon>
  </button>
  </form>
</div>
{% endif %}
<br>

<div class="row row-cols-1 row-cols-md-4 g-1">
{% for product in products %}

    <div class="col">
      <figure class="card">
        {% if product.image %}
        <img class="card_image" src="{{ product.image.url }}" alt="">
        {% endif %}      
        <figcaption class="card_body">
          <div>
            <h5 class="card_title">{{ product.title }}</h5>
            <p class="card_text">Price - {{ product.price }}FCFA</p>
            <a href="{% url 'resto_details' product.user.id %}" style="text-decoration: none; color: rgb(95, 95, 95);font-weight: 500;"><p>By: {{product.user }}</p></a>
          </div>
          <a href="{% url 'add_to_cart' product.id %}"><button type="submit" class="card_btn">Add to cart</button></a>
        </figcaption>
      </figure>
    </div>
{% endfor %}
 </div>

{%include 'footer.html'%}
{% endblock content %}
