{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="one">
    <div class="bro">
        <h1> Welcome to WE-food delivery<br>
        Here your favorite and most delicious food are closer to you
        </h1>
    </div>
    
</div>
<div class="cards">
    <div class="card" style="width: 30rem;">
        <img src="static/img2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h2>Explore our varieties of food</h2> </p>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="static/img4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h2>Rediscover your favorite restaurant with your favorite dishes</h2></p>
        </div>
    </div>
</div>

{% endblock content %}