{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main">
    <div class="msg">
        <h3 style="margin-bottom: 50px;">
            <strong>GET STARTED NOW TO ENJOY THESE FEATURES</strong>
        </h3>
        <p>
            <i style="color: #F02A2A;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
            </i>
            Access to different restaurants
        </p>
        <p>
            <i style="color: #F02A2A;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
            </i>
            Discovery of all kind of dishes
        </p>
        <p>
            <i style="color: #F02A2A;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
            </i>
            Different payments gateways
        </p>
        <p>
            <i style="color: #F02A2A;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
            </i>
            Payement on delivery
        </p>
    </div>
    <div class="reg">
        <form method="POST" action="">
            {% csrf_token %}
            
            <h1>SIGN UP</h1><hr style="color: #F02A2A;">
            <p>{{form.username.label}}</p>
                {{form.username}} <br>
            
            <p>{{form.password1.label}}</p>
                {{form.password1}} <br>

            <p>{{form.password2.label}}</p>
                {{form.password2}} <br>

            <input type="submit" value="Register" >
        </form>
        <p>Already have an account? <a href="{% url 'login' %}"><b>Sign In</b></a></p>
    </div>
</div>

{% endblock content %}